---
import { ClientRouter } from "astro:transitions";

import "@fontsource-variable/jetbrains-mono";
import jetbrainsMono from "@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2?url";

const title = Astro.props.title ? `cxntered | ${Astro.props.title}` : "cxntered";
const description = "cxntered's personal website";
---

<head>
	<title>{title}</title>

	<!-- meta -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="title" content={title} />
	<meta name="description" content={description} />
	<meta name="theme-color" content="#1e1e2e" />

	<link rel="canonical" href="https://cxntered.dev" />

	<!-- font -->
	<link rel="preload" as="font" type="font/woff2" href={jetbrainsMono} crossorigin="anonymous" />

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />

	<!-- open graph/discord -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://cxntered.dev" />
	<meta property="og:title" content={Astro.props.title ?? "cxntered"} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content="/images/cxntered.jpg" />
	<meta property="og:site_name" content="cxntered.dev" />

	<ClientRouter />
</head>
