---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import LinkButton from "../../components/LinkButton.astro";

export async function getStaticPaths() {
	const projects = await getCollection("projects");
	return projects.map((project) => ({
		params: { slug: project.slug },
		props: { project },
	}));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout>
	<a
		href="/projects"
		class="text-ctp-mauve/90 hover:text-ctp-mauve/70 flex flex-row items-center gap-1.5 self-start transition-colors"
	>
		<Icon name="tabler:arrow-left" class="h-5 w-5" />
		<span>back to projects</span>
	</a>
	<div class="flex flex-row items-center gap-3">
		<Icon name={project.data.icon} class="h-8 w-8" />
		<h1 class="text-ctp-text text-2xl font-bold">
			{project.data.name}
		</h1>
	</div>
	<p class="text-ctp-subtext0 italic">{project.data.description}</p>
	<div class="prose prose-catppuccin">
		<Content />
	</div>
	{
		project.data.links && project.data.links.length > 0 && (
			<div class="flex flex-row flex-wrap gap-2">
				{project.data.links.map((link) => (
					<LinkButton icon={link.icon} href={link.href} text={link.text} />
				))}
			</div>
		)
	}
</Layout>
