---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

const projects = await getCollection("projects");
const sortedProjects = projects.sort((a, b) => (a.data.order ?? 999) - (b.data.order ?? 999));

const CONTRIBUTIONS = [
	{
		name: "Catppuccin for Discord",
		icon: "catppuccin:sass",
		description: "Soothing pastel theme for Discord",
		link: "https://github.com/catppuccin/discord",
	},
	{
		name: "Pear Desktop",
		icon: "catppuccin:typescript",
		description: "An extension for a certain red music player",
		link: "https://github.com/pear-devs/pear-desktop",
	},
];
---

<Layout>
	<div class="bg-ctp-crust border-ctp-surface0 flex flex-col gap-4 border p-6">
		<p class="text-ctp-subtext0 italic">click to see more info!</p>
		<div class="flex flex-col items-start gap-2">
			<h1 class="text-ctp-red"># projects</h1>
			{
				sortedProjects.map((project) => (
					<a
						href={`/projects/${project.slug}`}
						class="hover:text-ctp-mauve flex flex-row items-center transition-colors"
					>
						<Icon name={project.data.icon} class="mr-2 h-6 w-6 shrink-0" />
						<div class="flex flex-col md:flex-row md:gap-2.5">
							<h2 class="text-ctp-text font-bold whitespace-nowrap">{project.data.name}</h2>
							<p class="text-ctp-subtext0">{project.data.description}</p>
						</div>
					</a>
				))
			}
			<div class="text-ctp-subtext1 flex flex-col sm:flex-row sm:items-center sm:gap-2.5">
				<a
					href="https://github.com/cxntered?tab=repositories"
					class="underline underline-offset-2"
					target="_blank"
				>
					...and many more!!</a
				>
				<p class="text-ctp-overlay1 text-sm">(including commissions! dm me if interested)</p>
			</div>
		</div>
		<div class="flex flex-col items-start gap-2">
			<h1 class="text-ctp-red"># contributions</h1>
			{
				CONTRIBUTIONS.map((project) => (
					<a href={project.link} target="_blank" class="flex flex-row items-center">
						<Icon name={project.icon} class="mr-2 h-6 w-6 shrink-0" />
						<div class="flex flex-col md:flex-row md:gap-2.5">
							<h2 class="text-ctp-text whitespace-nowrap">{project.name}</h2>
							<p class="text-ctp-subtext0">{project.description}</p>
						</div>
					</a>
				))
			}
		</div>
	</div>
</Layout>
